<table cellpadding=5px>
  <tr>
    <th>Release</th>
    <th>Version</th>
    <th>Date</th>
    <th>Download</th>
    <th>ChangeLog</th>
  </tr>
  [% USE releasefile = datafile('/www/etc/ntp-releases.csv', delim = ',') %]
  [% FOREACH release = releasefile %]
  <tr>
    <td>[% release.name FILTER html %]</td>
    <td>[% release.version FILTER html %]</td>
    <td>[% release.date FILTER html %]</td>
    <td><a href="[% release.tarlink FILTER html %]">https</a>/<a href="[% release.md5link FILTER html %]">md5</a></td>
    <td><a href="[% release.changelink FILTER html %]">https</a></td>
  </tr>
  [% END %]
</table>
