<table cellpadding=5px>
  <tr>
    <th>Release</th>
    <th>Version</th>
    <th>Date</th>
    <th>Download</th>
    <th>ChangeLog</th>
  </tr>
  <tr>
    <td>Stable  </td>
    <td>  4.2.8p15  </td>
    <td>  2020/06/23  </td>
    <td>  <a href="https://archive.ntp.org/ntp4/ntp-4.2/ntp-4.2.8p15.tar.gz">https</a>/<a href="https://archive.ntp.org/ntp4/ntp-4.2/ntp-4.2.8p15.tar.gz.md5">md5</a>  </td>
    <td>  <a href="https://archive.ntp.org/ntp4/ChangeLog-stable">https</a>  </td>
  </tr>
  <tr>
    <td>Development  </td>
    <td>  4.3.99  </td>
    <td>  2019/06/07  </td>
    <td>  <a href="https://archive.ntp.org/ntp4/ntp-dev/ntp-dev-4.3.99.tar.gz">https</a>/<a href="https://archive.ntp.org/ntp4/ntp-dev/ntp-dev-4.3.99.tar.gz.md5">md5</a>  </td>
    <td>  <a href="https://archive.ntp.org/ntp4/ChangeLog-dev">https</a>  </td>
  </tr>
</table>
