<table cellpadding=5px>
  <tr>
    <th>Release</th>
    <th>Version</th>
    <th>Date</th>
    <th>Download</th>
    <th>ChangeLog</th>
  </tr>
  <tr>
    <td>Stable  </td>
    <td>  4.2.6p5  </td>
    <td>  2011/12/24  </td>
    <td>  <a href="http://archive.ntp.org/ntp4/ntp-4.2/ntp-4.2.6p5.tar.gz">http</a>/<a href="http://archive.ntp.org/ntp4/ntp-4.2/ntp-4.2.6p5.tar.gz.md5">md5</a>  </td>
    <td>  <a href="http://archive.ntp.org/ntp4/ChangeLog-stable">http</a>  </td>
  </tr>
  <tr>
    <td>Development  </td>
    <td>  4.2.7p476  </td>
    <td>  2014/10/08  </td>
    <td>  <a href="http://archive.ntp.org/ntp4/ntp-dev/ntp-dev-4.2.7p476.tar.gz">http</a>/<a href="http://archive.ntp.org/ntp4/ntp-dev/ntp-dev-4.2.7p476.tar.gz.md5">md5</a>  </td>
    <td>  <a href="http://archive.ntp.org/ntp4/ChangeLog-dev">http</a>  </td>
  </tr>
</table>
