<div id="releases">

<h2>Current Releases of NTP</h2>
[% INCLUDE "release-table.html.tmpl" %]

</div>

<div id="ntp-intro">
<p>
  This is the <a href="http://support.ntp.org">NTP Public Services Project</a> 
  [% terms.Bugzilla %] which provides tracking of development issues (e.g. 
  bugs, enhancements) for the Network Time Protocol (NTP) Reference 
  Implementation produced by the <a href="http://www.ntp.org">NTP Project</a>.
</p>
<p>
  <strong>Security related bugs, real or suspected, are to be reported by 
  e-mail to <a href="http://security@ntp.org">security@ntp.org</a>. PLEASE DO 
  NOT ENTER SECURITY RELATED REPORTS IN THIS BUG TRACKING SYSTEM.</strong>
</p>
<p>
  Please use the NTP Newsgroup 
  <a href="news://comp.protocols.time.ntp">comp.protocols.time.ntp</a> or the 
  <a href="http://lists.ntp.org">NTP Mailing Lists</a> for discussions of 
  NTP-related matters which are <i>not</i> development issues.
</p>
<p>
  <strong>First time visitors may need to load our Certificate Authority's 
  Root Certificate in their web-browser. Please visit the 
  <a href="http://www.cacert.org/index.php?id=3">CAcert Root Certificate 
  page</a> for installation links.</strong>
</p>
</div>
