<div id="ntf">
  <div id="ntf-join" class="ntf-button">
    <a class="ntf" href="http://networktimefoundation.org/join" title="">join</a>
  </div>
  <div id="ntf-donate" class="ntf-button">
    <a class="ntf" href="http://networktimefoundation.org/donate" title="">donate</a>
  </div>
  <div id="ntf-links">
    Network Time Foundation: 
           <a class="ntf" href="http://networktimefoundation.org/projects/ntp/" title="Network Time Protocol Project">NTP</a> 
    &bull; <a class="ntf" href="http://networktimefoundation.org/projects/ptpd/" title="Precision Time Protocol daemon Project">PTPd</a> 
    &bull; <a class="ntf" href="http://networktimefoundation.org/projects/linuxptp/" title="Linux Precision Time Protocol Project">Linux PTP</a> 
    &bull; <a class="ntf" href="http://networktimefoundation.org/projects/radclock/" title="Robust Absolute and Difference Clock Project">RADclock</a> 
    &bull; <a class="ntf" href="http://networktimefoundation.org/projects/gpsd/" title="GPS daemon Project">GPSD</a> 
    &bull; <a class="ntf" href="http://networktimefoundation.org/projects/timestamp-api/" title="General Timestamp API Project">GT API</a> 
    &bull; <a class="ntf" href="http://networktimefoundation.org/projects/" title="Other Projects">More</a>
  </div>
</div>
